@using System.Text.Encodings.Web
@model List<AcsDto.Dtos.MatchListDto>

<div class="scorecard-container">
    <div class="sidebar">
    </div>

    <div class="scorecard-main">
        <table class="matchlist">
            @foreach (var match in Model)
            {
                <tr>
                <td>@match.MatchDate</td> <td><a href="/scorecard/tournament/@UrlEncoder.Default.Encode(match.Tournament)">@match.MatchTitle</a></td> <td><a href="/scorecard/card/@match.Key">@match.HomeTeamName v @match.AwayTeamName</a></td><td>at <a href="/location/@match.LocationId">@match.Location</a></td> 
                </tr>
            }
        </table>
    </div>

</div>


@section Scripts
{
    <script>
    document.onload = () => {}
</script>
}